body {
	width: 960px;
	background-image: url(../images/The-mine-shaft-4cb905a18652b_hires.jpg);
	background-size: cover;
	margin: 0 auto;
	font-family: 'Diplomata SC', cursive;
}

h1 {
	width: 40%;
	height: 80px;
	margin: 10px;
	background-color: white;
}

#instructions {
	width: 80%;
	height: auto;
	padding: 10px;
	margin: 10px;
	background-color: white;

}

#computer {
	float: left;
	height: 150px;
	width: 250px;
	margin: 10px;
	background-color: white;

}

#games {
	float: left;
	height: 150px;
	width: 250px;
	margin: 10px;
	background-color: white;

}

#footer {
	height: 150px;
	width: 250px;
	float: left;
	margin: 10px;
	background-color: white;

}

#crystal1 {
	clear: both;
	float: left;
	height: 150px;
	width: 150px;
	padding: 20px;
	margin: 10px;
	background-image: url(../images/78a7ed21a124bd0a12f674095eccafe0.jpg);
	background-size: cover;
	background-position: 50% 50%;


}

#crystal2 {
	float: left;
	height: 150px;
	width: 150px;
	padding: 20px;
	margin: 10px;
	background-image: url(../images/bismuth-crystal-1200x880.jpg);
	background-size: cover;
	background-position: 10% 50%;


}

#crystal3 {
	float: left;
	height: 150px;
	width: 150px;
	padding: 20px;
	margin: 10px;
	background-image: url(../images/248be7f73ddea6820b344d3ac1dcc115.jpg);
	background-size: cover;
	background-position: 50% 70%;


}

#crystal4 {
	float: left;
	height: 150px;
	width: 150px;
	padding: 20px;
	margin: 10px;
	background-image: url(../images/The_Searchlight_Rhodochrosite_Crystal.jpg);
	background-size: cover;
	background-position: 30% 50%;


}

